    .clr1{
    color: #3bb3e3;
    }
    
    .clr1-tint{
    background-color: #e7f6fc;
    color: #3bb3e3;
    }
    
    .btnColor{
    background-color: #3bb3e3;
    }
    
    .clr2-tint{
    background-color:#F7E7D7;
    }
    
    .clr2{
    color: FE9428;
    }